services:
  postgres:
    image: postgres:16
    container_name: order_inventory_db
    environment:
      POSTGRES_DB: order_inventory
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: order_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: